@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./woff2/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Black.woff) format('woff');
}

body {
    font-family: 'Pretendard';
}

body {
    background: #8A2BE2;
    padding: 0 24px;
    color: rgb(255, 255, 255); /* Change my color to yellow */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

*{
    padding: 0;
    margin: 0;
}

h1{
    animation: fadein 1s forwards;
}

iframe{
    animation: fadein 1s forwards;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(20px);
    }
}